p {
    font-family: Arial;
  color: blue;
  }
h1{
color: maroon;
}

.title {
      color: teal;
}

.uppercase {
          text-transform: uppercase;
}


.publish-time {
             color: gray;
}

.cursive {
        font-family: cursive;
}

.capitalize {
          text-transform: capitalize;
}

h2.destination {
            font-family: cursive;
}

/*  Added a chain selector to CSS */
