p {
    font-family: Arial;
  color: blue;
  }
h1{
color: maroon;
}

.title {
      color: teal;
}

.uppercase {
          text-transform: uppercase;
}

#article-title {
              font-family: cursive;
              text-transform: capitalize;

}
/*  Used id name to specifiy specific area for css to target.  Added id tag to html document  */
