p {
    font-family: Arial;
  color: blue;
  }
h1{
color: maroon;
}

.title {
      color: teal;
}

.uppercase {
          text-transform: uppercase;
}
/* Added uppercase class, added it to html file */
